* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: red;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: beige;
    user-select: none;
}

.sidebar ul a {
    display: block;
    color: aliceblue;
    height: 100%;
    width: 100%;
    line-height: 65px;
    padding-left: 90px;
    box-sizing: border-box;
    font-size: 20px;
    transition: .4s;

}

.sidebar ul li a:hover {
    padding-left: 120px;
}

.sidebar ul li a i {
    padding-right: 20px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: red;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -200px;
    top: 17px;
    font-size: 30px;
    color: red;
    transition: all .5s;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 200px;
}