body {
	margin: 0;
	padding: 0;
	min-height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(key.jpg);
	background-size: cover;

}

.container {
	position: relative;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.container .box {
	position: relative;
	width: 280px;
	height: 420px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 20px 0;
	border-radius: 20px;
}

.container .box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	clip-path: circle(400px at center 100px);
	transition: .5s;
	transition-delay: .5s;
}

.container .box:hover .imgBx {
	clip-path: circle(80px at center 100px);
	transition-delay: 0;
}

.container .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.container .box .content {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 55%;
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	color: whitesmoke;
}

.container .box .content h2 {
	margin: 0;
	padding: 0;
}

.container .box .content a {
	display: inline-block;
	background: black;
	text-decoration: none;
	padding: 5px;
	box-sizing: border-box;
	color: white;
}

.container .box .content h2,
.container .box .content p,
.container .box .content a {
	opacity: 0;
	transform: translateY(20px);
	transition: .6s;
}

.container .box:hover .content h2 {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.6s;
}

.container .box:hover .content p {
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.7s;
}

.container .box:hover .content a {
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.9s;
}